/* This imports the Adwaita theme for us to modify. The default should stay the
same for this to work optimally at this point in time. */
@import url("/usr/share/gnome-shell/theme/gnome-shell.css");

/* global font change */
stage{
    font-family: Fira Sans;
    font-size: 11pt;
    color: #0c0c0d;
}

/* links */
.shell-link {
    color:#00feff;
}

/* dialog boxes */
.modal-dialog{
    background-color: rgba(237, 237, 240, .9);
    color: #0c0c0d;
    opacity: 0.2;
    border-radius: 2px;
}
/* Dialog box buttons */
.modal-dialog-linked-button {
    color:#008ea4;
    background-color:#ededf0;
    &:hover {
        background-color: #d7d7db;
        color: #008ea4;
    }
    &:focus {
        box-shadow: none;
    }
    &:insensitive {
        color: #b1b1b3;
    }
}

.slider {
    -slider-color: #ff1ad9;
    -slider-background-color: #323636;
    -slider-border-color: #1c1f1f;
    -slider-active-background-color: #ff1ad9;
    -slider-active-border-color: #184472;
    -slider-border-width: 1px;
    -slider-handle-radius: 6px;
}
/* Popup menus found on the topbar */
.popup-menu {
    /* Items inside the popup menu */
    .popup-menu-item {
        background-color: #ededf0;
    }
    .popup-menu-item:hover {
        color: #ff1ad9;
    }
    .popup-menu-item:active {
        background-color: #ededf0;
        color: #0c0c0d;
    }
    .popup-menu-item.selected{
        background-color: rgba(237, 237, 240, .9);
    }
}

.popup-menu-boxpointer,
.candidate-popup-boxpointer {
  -arrow-border-radius: 3px;
  -arrow-background-color: #ededf0;
  -arrow-border-width: 1px;
  -arrow-border-color:#ededf0;
  -arrow-base: 24px;
  -arrow-rise: 11px;
  -arrow-box-shadow: 0 1px 3px black; }
